/* claining browser */

*,
html,
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}	
.parallax {
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	width: 100%;
	height: 100vh;
}

.intro {
	background-image: url(1.JPG);

}

.content {
	background-image: url(2.jpg);

}

.footer {
	background-image: url(3.JPG);
}

.cta {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;

}

.title {
	font-style: 400;
	letter-spacing: 20px;
	font-family: fantasy;
	color: white;
}

.puisi {
	display: block;
	justify-content: center;
	align-items: center;
	height: 100vh;
	color: azure;

}
.MySelf{

}
.p{
	font-style: 40px;
	letter-spacing: 20px;
	font-family: fantasy;
	color: white;
	height: 100vh;
	text-align: center;
}
